.main-nav {
  position: relative;

  &__toggle {
    width: 40px;
    height: 40px;

    display: block;

    position: absolute;
    top: 40px;
    left: -50px;

    border: none;
    cursor: pointer;
    background: transparent;
    z-index: 5;
    outline: none;

    & span {
      display: block;
      width: 30px;
      height: 3px;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      background: black;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
      transition: .5s;

      &:before,
      &:after{
        content: '';
        position: absolute;
        width: 80%;
        height: 3px;
        background: black;
        transform: translateX(-50%);
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        transition: .5s;
      }
      &:before {
        top: 10px;
      }
      &:after {
        top: -10px;
      }
    }

    &--active {
      display: block;
      position: absolute;
      right: 50%;
      z-index: 7;
      transition: all .8s;

      & span {
        background: transparent;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
      }

      & span:before {
        top: 0;
        left: 5px;
        transform: rotate(45deg);
      }
      & span:after {
        top: 0;
        left: 5px;
        transform: rotate(-45deg);
      }
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;

    height: 80vh;
    width: 60%;

    background: #1c1c21;
    color: black;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(101%);
    transition: all .8s;

    &--active {
      transform: translateX(0%);
    }
  }

  &__list {
    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__item {
    flex-grow: 1;
  }
  &__item a {
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;

    color: white;
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 0.1rem;

    transition: all .5s;
    &:hover {
      color: $button_color_hover;
    }
  }

}

@media (min-width: $table-width) {
  .main-nav {

    &__toggle {
      display: none;
    }
    &__menu {
      position: static;

      height: 100%;
      min-width: 60rem;
      margin: 0 auto;

      background: #fff;

      display: block;
      transform: none;
      transition: none;
    }
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &__item a {
      display: block;
      position: relative;
      padding: 5rem 2rem;

      color: #000;

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 25px;
        height: 3px;
        width: calc(100% - 4rem);
        background: $button_color_hover;
        transition: all .5s;
        opacity: 0;
        transform: scale(0);
      }
      &:hover::before {
        opacity: 1;
        bottom: 0;
        transform: scale(1);
      }
      &:hover {
        color: $button_color_hover;
      }
    }
    &__item--active a {
      color: $button_color_hover;

      &::before {
        bottom: 0;
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
